{% extends 'base-site.html' %}
{% load i18n %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block page-inner %}
<main class="page__inner js-nav-close-trigger">
    <form id="contact_form" onsubmit="contactAction(event)">
        <div class="contact-error-panel"></div>

        <section class="contact section">
            <header class="section__header">
                <h1 class="contact__heading section__heading">If you have question, you can contact us through this form</h1>
            </header>
            <div class="section__inner">
                <div class="section__fields">
                    <div class="section__field form-group {% if error.email_address %}is-invalid{% endif %}">
                        <div class="form-group__field-group">
                            <input class="form-group__field js-toggle-email-target" name="email_address" data-value="some@mail.com" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}" placeholder="Reply email address" required>
                            {% if error.email_address %}
                            <svg class="form-group__required is-invalid-item">
                                <use xlink:href="{% static 'images/icons.svg' %}#exclamation-circle"></use>
                            </svg>
                            {% endif %}
                        </div>
                        <label class="form-group__checkbox checkbox">
                            <input class="js-toggle-email-trigger" name="use_my_email" type="checkbox" hidden><span class="checkbox__field"></span>
                            <span class="checkbox__text">Use my profile email address</span>
                        </label>
                        {% if error.email_address %}
                        <p class="form-group__message is-invalid-item">{{ error.email_address }}</p>
                        {% endif %}
                    </div>
                    <div class="section__field form-group {% if error.cc_email_address %}is-invalid{% endif %}">
                        <div class="form-group__field-group">
                            <input class="form-group__field" name="cc_email_address" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}" placeholder="CCReply email address (Optional)">
                            {% if error.cc_email_address %}
                            <svg class="form-group__required is-invalid-item">
                                <use xlink:href="{% static 'images/icons.svg' %}#exclamation-circle"></use>
                            </svg>
                            {% endif %}
                        </div>
                        {% if error.cc_email_address %}
                        <p class="form-group__message is-invalid-item">{{ error.cc_email_address }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="contact__textarea form-group form-group--textarea {% if error.content %}is-invalid{% endif %}">
                    <div class="form-group__field-group">
                        <textarea class="form-group__field" name="content" rows="8" placeholder="Please describe what it’s about" required></textarea>
                        {% if error.content %}
                        <svg class="form-group__required is-invalid-item">
                            <use xlink:href="{% static 'images/icons.svg' %}#exclamation-circle"></use>
                        </svg>
                        {% endif %}
                    </div>
                    {% if error.content %}
                    <p class="form-group__message is-invalid-item">{{ error.content }}</p>
                    {% endif %}
                </div>
            </div>
        </section>
        <button class="page__submit btn btn--theme-1" type="submit">SEND</button>
    </form>
</main>
{% endblock %}

{% block bottom-script %}
{{ block.super }}
<script>
$(function () {
    set_nav_active('contact');
    $('[name=email_address]').attr('data-value', authUser().email);
})

var contactAction = function(e) {
    e.preventDefault();
    var data = $('#contact_form').serialize();
    $.ajax({
        url: main_site_url + '/contact/',
        dataType: 'json',
        type: 'post',
        contentType: 'application/x-www-form-urlencoded',
        headers: {
            'Authorization': 'Token ' + isAuthenticated()
        },
        data: data,
        success: function( data, textStatus, jQxhr ){
            $('.contact-error-panel').append('<aside class="dialog__alert alert alert--success"><span class="error-message">Success</span><button class="alert__close-btn" type="button" onclick="alertNote.close(this)"><svg class="alert__close-icon" width="30">' +
                   '<use xlink:href="' + ICONS + '#times"></use>' +
                '</svg></button></aside>')
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
            $('.contact-error-panel').append('<aside class="dialog__alert alert alert--danger"><span class="error-message">' + JSON.parse(jqXhr.responseText).non_field_errors + '</span><button class="alert__close-btn" type="button" onclick="alertNote.close(this)"><svg class="alert__close-icon" width="30">' +
                   '<use xlink:href="' + ICONS + '#times"></use>' +
                '</svg></button></aside>')
        }
    });
}
</script>
{% endblock %}
