{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Recovery password{% endblock %}

{% block body %}password-recovery dialog{% endblock %}

{% block content %}
<form class="dialog__container" id="password_form" onsubmit="password(event)">
    <a class="dialog__logo" href="/">
        <img class="dialog__logo-img" src="{% static 'images/logo-dark.png' %}" alt="Raplev logo">
    </a>

    <div class="password-error-panel"></div>

    <div class="dialog__field form-group {% if error.email %}is-invalid{% endif %}">
        <div class="form-group__field-group">
            <input class="form-group__field" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}" placeholder="Enter your account email address" required>
            {% if error.email %}
            <svg class="form-group__required is-invalid-item">
                <use xlink:href="{% static 'images/icons.svg' %}#exclamation-circle"></use>
            </svg>
            {% endif %}
        </div>
        {% if error.email %}
        <p class="form-group__message is-invalid-item">{{ error.email }}</p>
        {% endif %}
    </div>
    <button class="password-recovery__submit btn btn--round btn--theme-1" type="submit">Help to recover my password</button>
    <a class="password-recovery__back" href="/login/">Back to login page</a>
</form>
{% endblock %}