{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Request{% endblock %}

{% block body %}affiliates{% endblock %}

{% block content %}
<form class="affiliates__container" onsubmit="requestAction(event)" id="request_form">
    <h1 class="affiliates__heading">Affiliates</h1>
    <div class="affiliates__alerts">
        {% if success %}
        <aside class="affiliates__alert alert alert--success"><span>Your account request application has been sent</span><button class="alert__close-btn" type="button" onclick="alertNote.close(this)"><svg class="alert__close-icon" width="30">
                    <use xlink:href="{% static 'images/icons.svg' %}#times"></use>
                </svg></button></aside>
        {% endif %}
        {% if error.exist %}
        <aside class="affiliates__alert alert alert--warning"><span>Your record seems to exits in our record - <a class="alert__link" href="/contact/">Contact us</a></span><button class="alert__close-btn" type="button" onclick="alertNote.close(this)"><svg class="alert__close-icon" width="30">
                    <use xlink:href="{% static 'images/icons.svg' %}#times"></use>
                </svg></button></aside>
        {% endif %}
    </div>
    <div class="affiliates__fields">
        <div class="affiliates__field form-group">
            <div class="form-group__field-group {% if error.first_name %}is-invalid{% endif %}">
                <input class="form-group__field" name="first_name" autocomplete="given-name" placeholder="First name" required>
                {% if error.first_name %}
                <svg class="form-group__required is-invalid-item">
                    <use xlink:href="{% static 'images/icons.svg' %}#exclamation-circle"></use>
                </svg>
                {% endif %}
            </div>
            {% if error.first_name %}
            <p class="form-group__message is-invalid-item">{{ error.first_name }}</p>
            {% endif %}
        </div>
        <div class="affiliates__field form-group {% if error.last_name %}is-invalid{% endif %}">
            <div class="form-group__field-group">
                <input class="form-group__field" name="last_name" autocomplete="family-name" placeholder="Last name" required>
                {% if error.last_name %}
                <svg class="form-group__required is-invalid-item">
                    <use xlink:href="{% static 'images/icons.svg' %}#exclamation-circle"></use>
                </svg>
                {% endif %}
            </div>
            {% if error.last_name %}
            <p class="form-group__message is-invalid-item">{{ error.last_name }}</p>
            {% endif %}
        </div>
    </div>
    <div class="affiliates__fields">
        <div class="affiliates__field form-group {% if error.email %}is-invalid{% endif %}">
            <div class="form-group__field-group">
                <input class="form-group__field" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}" placeholder="Email address" required>
                {% if error.email %}
                <svg class="form-group__required is-invalid-item">
                    <use xlink:href="{% static 'images/icons.svg' %}#exclamation-circle"></use>
                </svg>
                {% endif %}
            </div>
            {% if error.email %}
            <p class="form-group__message is-invalid-item">{{ error.email }}</p>
            {% endif %}
        </div>
        <div class="affiliates__field form-group">
            <div class="form-group__field-group"><input class="form-group__field" name="organization" autocomplete="organization" placeholder="Company (Optional)"></div>
        </div>
    </div>
    <div class="affiliates__field form-group form-group--textarea">
        <div class="form-group__field-group"><textarea class="form-group__field" name="overview" rows="5" placeholder="How will you direct traffic?"></textarea></div>
    </div>
    <div class="affiliates__control"><label class="checkbox"><input type="checkbox" name="agree" hidden required><span class="checkbox__field"></span><span class="checkbox__text">I understand Terms & Conditions</span></label>
        <button class="affiliates__submit btn btn--round btn--theme-1" type="submit">Request for account</button></div>
    <aside class="affiliates__note">
        <h2 class="affiliates__note-heading">How much can you earn?</h2>
        <p class="affiliates__note-text">Upto $20 per each active customer with 1 transaction in platform. We can also pay you in BTC. Real traffic rewarded with bonus upon reaching a goal.</p>
    </aside>
</form>
{% endblock %}

{% block bottom-script %}
{{ block.super }}
<script>
var requestAction = function(e) {
    e.preventDefault();
    var data = $('#request_form').serialize();
    $.ajax({
        url: main_site_url + '/request/',
        dataType: 'json',
        type: 'post',
        contentType: 'application/x-www-form-urlencoded',
        data: data,
        success: function( data, textStatus, jQxhr ){
            $('.affiliates__alerts').append('<aside class="affiliates__alert alert alert--success"><span>Your account request application has been sent</span><button class="alert__close-btn" type="button" onclick="alertNote.close(this)"><svg class="alert__close-icon" width="30">' +
                '   <use xlink:href="'+ ICONS +'#times"></use>' +
                '</svg></button></aside>')
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
            $('.affiliates__alerts').append('<aside class="affiliates__alert alert alert--warning"><span>Your record seems to exits in our record - <a class="alert__link" href="/contact/">Contact us</a></span><button class="alert__close-btn" type="button" onclick="alertNote.close(this)"><svg class="alert__close-icon" width="30">' +
                '    <use xlink:href="' + ICONS + '#times"></use>' +
                '</svg></button></aside>')
        }
    });
}
</script>
{% endblock %}